#container{
  width: 500px;
  height: 100%;
  margin: 0 auto;
}

.todosBox {
	border: solid 1px #d3d3d4;
	border-radius: 4px 4px 4px 4px;
	min-height: 530px;
}

.todos-title {
	color: black;
	width: 500px;
	text-align: center;
	font-family: 'helvetica';
	font-size: 26px;
	margin-top: 50px;
	padding-bottom: 50px;
	border-bottom: dashed 1px #d3d3d4;
}


.input{
	width: 300px;
	height: 40px;
	margin-left: 20px;
	margin-right: 10px;
}

.addpost{
	height: 40px;
	width: 145px;
	padding-top: 40px;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}

tr{
	height: 500px;
	width: 300px;
}